* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SegoeUI', sans-serif;
    color: black;
}

body {
    display: flex;
    background-color: rgb(10, 10, 44);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    width: 430px;
    background-color: white;
    border-radius: 1rem;
}

.wrapper h1 {
    font-size: 25px;
    font-weight: 800;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}

.wrapper .content {
    margin: 25px 25px 35px;
}

.wrapper .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs input {
    height: 57px;
    width: 56px;
    margin: 0px 0px 0px 4px; 
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: 1px solid rgb(134, 128, 102);
    background: none;
}

.inputs input:first-child {
    margin-left: 0px;
}

.content .details {
    margin: 20px 0;
}

.wrapper button {
    border-radius: 0.5rem;
    border: 1px solid rgb(134, 128, 102);
    cursor: pointer;
    outline: none;
    padding: 15px 0;
    width: 100%;
    background-color: aquamarine;
}