@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-weight: 700;
}

body {
    background-color: #050b10;
}


.container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
  
.card {
    width: 350px;
    border-radius: 1rem;
    border: 1px solid rgb(71, 77, 77);
    margin: 0;
    padding: 10px;
}

.card-wide {
    width: 650px;
    border-radius: 1rem;
    border: 1px solid rgb(71, 77, 77);
    margin: 0;
    padding: 10px;
}

.task {
    width: 550px;
    border-radius: 1rem;
    border: 1px solid rgb(71, 77, 77);
    margin: 10px auto;
    padding: 10px;
    display: block;
}

.labels {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.label-green {
    background-color: rgb(171, 236, 252);
    color:rgb(56, 56, 56);
    padding: 00 3px;
    border-radius: .55rem;
}

.label-pink {
    background-color: rgb(252, 171, 233);
    color:rgb(56, 56, 56);
    padding: 00 3px;
    border-radius: .55rem;
}

.label-red {
    background-color: rgb(235, 118, 118);
    color:rgb(56, 56, 56);
    padding: 00 3px;
    border-radius: .55rem;
}
 
h1 {
    text-align: center;
}

li {
    margin-left: 20px;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: rgb(95, 95, 244);
    text-decoration: none;
}

.download-button {
    font-family: "Jost", sans-serif;
    background-color: white;
    color: black;
    padding: 0 5px;
    border-radius: .5rem;
    transition: all 0.25s;
}

.download-button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

i {
    color:black;
}

p, sup {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

input {
    background-color: #050b10;
    border: 1px solid rgb(71, 77, 77);
    width: 10rem;
    height: 1.5rem;
    font-size: 15px;
    border-radius: .5rem;
    padding: 5px 5px;
    margin-top: 10px
}

button {
    color: black;
    background-color: rgb(233, 233, 233);
    border: 1px;
    font-size: 15px;
    height: 2.1rem;
    border-radius: .5rem;
    padding: 5px;
}

[correct] {
    color: rgb(171, 250, 171);
}

[incorrect] {
    color: rgb(235, 136, 136);
}

button:hover {
    background-color: white;
}

button:active {
    background-color: rgb(189, 189, 189);
}